<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles.css">

</head>

<body>
    <html>

    <head>
        <title>Login And Register</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="hero">
            <div class="form-box">

                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>

                <form id="login" class="input-group" action="{{url_for('login')}}" method="post">
                    {{ login_form.hidden_tag() }}
                    {{login_form.email}}
                    {{login_form.password}}
                    {{ login_form.submit() }}
                </form>


                <form id="register" class="input-group" action="{{url_for('signup')}}" method="post">
                    {{ reg_form.hidden_tag() }}
                    {{reg_form.username}}
                    {{reg_form.email}}
                    {{reg_form.password}}

                    {{ reg_form.submit() }}
                </form>
            </div>

        </div>

        <script src="../static/app.js"></script>


    </body>

    </html>